{% extends 'ccrs/layout.html' %}
{% block title %} {{block.super}} | Home {% endblock %}
{% block content %}

<div class="be-content">
        <div class="page-head">
          <h2 class="page-head-title">Cards</h2>
          <nav aria-label="breadcrumb" role="navigation">
            <ol class="breadcrumb page-head-nav">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item"><a href="#">UI Elements</a></li>
              <li class="breadcrumb-item active">Cards</li>
            </ol>
          </nav>
        </div>
        <div class="main-content container-fluid">
            <div class="col-lg-12">
              <div class="tab-container">
                <ul class="nav nav-tabs card-nav-tabs" role="tablist">
                  <li class="nav-item"><a class="nav-link active" href="#active2" data-toggle="tab" role="tab">Active</a></li>
                  <li class="nav-item"><a class="nav-link" href="#link2" data-toggle="tab" role="tab">Link</a></li>
                  <li class="nav-item"><a class="nav-link disabled" href="#disabled2" data-toggle="tab" role="tab">Disabled</a></li>
                </ul>
              </div>
              <div class="tab-content">
                <div class="tab-pane active" id="active2" role="tabpanel">
                  <div class="card text-center">
                    <div class="card-header">Card with tabs complete</div>
                    <div class="card-body">
                      <p>Curabitur eleifend augue non convallis condimentum. In iaculis eu est at iaculis Praesent finibus est sit amet orci posuere vulputate. </p><a class="btn btn-primary" href="#">Go somewhere</a>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="link2" role="tabpanel">
                  <div class="card">
                    <div class="card-header">Card with tabs complete</div>
                    <div class="card-body">
                      <p>Curabitur eleifend augue non convallis condimentum. In iaculis eu est at iaculis Praesent finibus est sit amet orci posuere vulputate. </p><a class="btn btn-primary" href="#">Go somewhere</a>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="disabled2" role="tabpanel">
                  <div class="card text-right">
                    <div class="card-header">Card with tabs complete</div>
                    <div class="card-body">
                      <p>Curabitur eleifend augue non convallis condimentum. In iaculis eu est at iaculis Praesent finibus est sit amet orci posuere vulputate. </p><a class="btn btn-primary" href="#">Go somewhere</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      {% endblock %}