{% extends 'ccrs/layout.html' %}
{% block title %} {{block.super}} | Login Into Credit Repair Services {% endblock %}
{% block content %}

    <div class="be-content">
      <div class="main-content container-fluid">
            <div class="row">
                    <div class="col-lg-6 offset-3">
                            {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                    <li{% if message.tags == "error" %} class="bg-danger text-white" 
                                    {% elif message.tags == "success" %} class="bg-success text-white"
                                    {% endif %}>{{message}}</li><br>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
        <div class="splash-container">
          <div class="card card-border-color card-border-color-primary">
              {% load static %}
            <div class="card-header"><img class="logo-img" src="{% static 'ccrs/assets/img/logo_new_2.png' %}" alt="logo"><span class="splash-description">Please enter your user information.</span></div>
            <div class="card-body">
              <form action="login" method="POST">
                  {% csrf_token %}
                <div class="form-group">
                  <input class="form-control" name="email"type="email" placeholder="Email">
                </div>
                <div class="form-group">
                  <input class="form-control"type="password" placeholder="Password">
                </div>
                <input type="submit" value="Login" class="btn btn-primary">
              </form>
            </div>
          </div>
          <div class="splash-footer"><span>Don't have an account? <a href="/register-page">Sign Up</a></span></div>
        </div>
      </div>
    </div>

  {% endblock %}