{% extends 'ccrs/layout.html' %}
{% block title %} {{block.super}} | Reviews To Leave About Our Credit Repair {% endblock %}
{% block content %}

<div class="be-content">
        <div class="page-head">
          <h2 class="page-head-title">Reviews</h2>
        </div>
        <div class="main-content container-fluid">
            <div class="col-lg-12">
                    <div class="row">
                            <div class="col-lg-6 offset-3">
                                    {% if messages %}
                                    <ul class="messages">
                                        {% for message in messages %}
                                            <li{% if message.tags == "error" %} class="bg-danger text-white" 
                                            {% elif message.tags == "success" %} class="bg-success text-white"
                                            {% endif %}>{{message}}</li><br>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>
                        </div>
              <div class="tab-container">
                <ul class="nav nav-tabs card-nav-tabs" role="tablist">
                  <li class="nav-item"><a class="nav-link active" href="#active2" data-toggle="tab" role="tab">Reviews</a></li>
                  <li class="nav-item"><a class="nav-link" href="#link2" data-toggle="tab" role="tab">Leave A Review</a></li>
                </ul>
              </div>
              <div class="tab-content">
                <div class="tab-pane active" id="active2" role="tabpanel">
                  <div class="card text-center">
                    <div class="card-header">Reviews</div>
                    <div class="card-body">
                            <div class="review">
                        {% if reviews %}
                            {% for review in reviews %}
                                <div class="card">
                                    <div class="card-header"><script>for(var i = 0; i < {{review.rating}}; i++) {document.write('<i class="fas fa-star"></i>'); }</script></div>
                                        <div class="card-body">
                                        <p>{{review.content}}</p>
                                          <small>~ {{review.user.first_name}} {{review.user.last_name}}</small>
                                        </div>
                                      </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="link2" role="tabpanel">
                  <div class="card">
                      {% if 'id' not in request.session %}
                    <div class="card-header">Login To Leave A Review</div>
                    <a href="/login-page" class="btn btn-primary">Login</a>
                      {% endif %}
                    <div class="card-body">
                        {% if 'id' in request.session %}
                        <form action="review" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <select name="rating" class="form-control">
                                    <option value="">Select a rating</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="content">Review</label>
                                <textarea name="content" class="form-control" name="content" cols="30" rows="10"></textarea>
                            </div>
                            <input type="submit" value="Send" class="btn btn-success">
                        </form>
                        {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
{% endblock %}