
<nav class="navbar navbar-expand fixed-top be-top-header">
    <div class="container-fluid">
        {% load static %}
      <div class="be-navbar-header"><a href="/"> <img class="img-fluid logo" src="{% static 'ccrs/assets/img/logo_new_2.png' %}" alt=""> 
        <span class="b1">C</span>omplete <span class="b2">C</span>redit <span class="b3">R</span>epair <span class="b4">S</span>ervices</a>
      </div>
      <div class="be-right-navbar">
        <ul class="nav navbar-nav float-right be-user-nav">
          <li class="nav-item dropdown">
              {% load static %}
              <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false"><img src="{% static 'ccrs/assets/img/avatar.png' %}" alt="Avatar">
            <span class="user-name"></span></a>
            <div class="dropdown-menu" role="menu">     
              <div class="user-info">
                  {% if 'id' in request.session %}
                <div class="user-name"> {{user.first_name}} {{user.last_name}}</div>
                {% endif %}
                <div class="user-position"></div>
              </div>
              {% if 'id' not in request.session %}
                    <a class="dropdown-item" href="login-page"><i class="far fa-sign-in-alt"></i> Login</a>
              {% else %}
                    <a class="dropdown-item" href="profile"><i class="far fa-user"></i> Profile</a>
                    <a class="dropdown-item" href="logout"><i class="far fa-power-off"></i> Logout</a>
              {% endif %}
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="be-left-sidebar">
    <div class="left-sidebar-wrapper"><a class="left-sidebar-toggle" href="#">Blank Page</a>
      <div class="left-sidebar-spacer">
        <div class="left-sidebar-scroll">
          <div class="left-sidebar-content">
            <ul class="sidebar-elements">
              <li class="divider">Menu</li>
                <li class=""><a href="/"><i class="far fa-home"></i> <span>Home</span></a></li>
                <li class=""><a href="/about"><i class="far fa-question-circle"></i> <span>About</span></a></li>
                <li class=""><a href="/services"><i class="far fa-wrench"></i> <span>Services</span></a></li>
                <li class=""><a href="/appointments"><i class="fal fa-calendar-check"></i> <span>Appointments</span></a></li>
                <li class=""><a href="/reviews"><i class="far fa-comment-smile"></i> <span>Reviews</span></a></li>
                <li class=""><a href="/contact"><i class="far fa-file-signature"></i> <span>Contact</span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  